.table {
    text-align: left;
    border-spacing: 1.2rem 1rem;
}

.lineSeparator {
    height: 1px;
    width: 90%;
    background: lightgray;
}

.body {
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto';
    line-height: 1.3em;
    text-align: left;
}
h1 {
    font-size: 2.8rem;
    margin: 0.5em 0;
}
h2 {
    font-size: 2rem;
    margin: 0.6em 0;
}
h3 {
    font-size: 1.4rem;
    margin: 1.3em 0;
}
h4 {
    font-size: 1.2rem;
    margin: 1.3em 0;
}
h5 {
    font-size: 1.1rem;
    margin: 1.3em 0;
}
h6 {
    font-size: 1rem;
    margin: 0.75em 0;
}

.content {
    padding: 2.5em 1.5em;
    font-size: 1.1rem;
    color: white;
    text-shadow: black 0 0 12px;
}

.paragraph {
    max-width: 40em;
    min-width: 15em;
    text-align: justify;
}

.whiteSeparator {
    color: black;
    font-style: italic;
    font-size: 1.6rem;
    padding: 1em 0;
    text-align: center;
    background-color: #eaeaea;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Ehoundstooth%3C/title%3E%3Cg fill='%23dbdbdb' fill-opacity='0.7' fill-rule='evenodd'%3E%3Cpath d='M0 18h6l6-6v6h6l-6 6H0M24 18v6h-6M24 0l-6 6h-6l6-6M12 0v6L0 18v-6l6-6H0V0'/%3E%3C/g%3E%3C/svg%3E");
    box-shadow: 0px 0px 3px black;
    display: block;
}

.imageBg {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.pairContainer {
    display: flex;
    align-items: center;
}

.imageGallery {
    max-width: 30em;
    width: 100%;
    height: auto;
    padding: 50px;
}

.whiteLink {
    display: inline-flex;
    align-items: center;
    color: lightgoldenrodyellow;
}

.buttonLink {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

@media all and (min-width: 1100px) {
    .pairContainer {
        flex-direction: row;
    }

    .paragraph {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media all and (max-width: 1099px) {
    .pairContainer {
        flex-direction: column;
    }

    .paragraph {
        margin-left: 0;
        margin-right: 0;
    }

    .paragraph {
        text-align: left;
    }
}