.table {
    text-align: left;
    border-spacing: 1.2rem 1rem;
}

.lineSeparator {
    height: 1px;
    width: 90%;
    background: lightgray;
}

.body {
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto';
    line-height: 1.3em;
    text-align: left;
}
h1 {
    font-size: 2.8rem;
    margin: 0.5em 0;
}
h2 {
    font-size: 2rem;
    margin: 0.6em 0;
}
h3 {
    font-size: 1.4rem;
    margin: 1.3em 0;
}
h4 {
    font-size: 1.2rem;
    margin: 1.3em 0;
}
h5 {
    font-size: 1.1rem;
    margin: 1.3em 0;
}
h6 {
    font-size: 1rem;
    margin: 0.75em 0;
}

.content {
    padding: 2.5em 1.5em;
    font-size: 1.1rem;
    color: white;
    text-shadow: black 0 0 12px;
    background-size: 49% auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.paragraph {
    max-width: 40em;
    min-width: 15em;
    text-align: justify;
}

.whiteSeparator {
    color: black;
    font-style: italic;
    font-size: 1.6rem;
    padding: 1em 0;
    text-align: center;
    background: linear-gradient(225deg, #ffffff 0%, #999999 150%);
    box-shadow: 0px 0px 3px black;
    display: block;
}

.imageBg {
    background-size: cover;
}

.pairContainer {
    display: flex;
    align-items: center;
}

.verticalSpacer {
    height: 100%;
    margin-right: 1rem;
}

.imageGallery {
    max-width: 30em;
    width: 100%;
    height: auto;
    padding: 50px;
}

.whiteLink {
    display: flex;
    align-items: center;
    color: lightgoldenrodyellow;
}

@media all and (min-width: 1100px) {
    .pairContainer {
        flex-direction: row;
    }

    .paragraph {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media all and (max-width: 1099px) {
    .pairContainer {
        flex-direction: column;
    }

    .paragraph {
        margin-left: 0;
        margin-right: 0;
    }

    .paragraph {
        text-align: left;
    }
}