.table {
    text-align: left;
    border-spacing: 1.2rem 1rem;
}

.mobileOnlyHeader {
    display: none;
}

.flexBox {
    display: flex;
    flex-wrap: wrap;
}

.lineSeparator {
    height: 1px;
    width: 90%;
    background: lightgray;
}

.body {
    padding-left: 6vw;
    padding-right: 6vw;
    overflow-x: hidden;
    background-color: white;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto';
    line-height: 1.3em;
    text-align: left;
}
h1 {
    font-size: 2.8rem;
    margin: 0.5em 0;
}
h2 {
    font-size: 2rem;
    margin: 0.6em 0;
}
h3 {
    font-size: 1.4rem;
    margin: 1.3em 0;
}
h4 {
    font-size: 1.2rem;
    margin: 1.3em 0;
}
h5 {
    font-size: 1.1rem;
    margin: 1.3em 0;
}
h6 {
    font-size: 1rem;
    margin: 0.75em 0;
}

.content {
    padding: 0 1.5em;
    font-size: 1.1rem;
    color: black;
    position: relative;
}

.paragraph {
    max-width: 50em;
    min-width: 15em;
    text-align: justify;
}

.infoParagraph {
    color: rgb(106, 106, 106);
    max-width: 35em;
    min-width: 15em;
    text-align: justify;
    padding-right: 16px;
    padding-bottom: 16px;
    border-radius: 20px;
    backdrop-filter: blur(14.5px);
    -webkit-backdrop-filter: blur(14.5px);
}

.whiteSeparator {
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 1em 0;
    text-align: center;
}

.splashImgWrapper {
    display: flex;
    flex: 1;
    justify-content: end;
    height: 60%;
}

.splashImg {
    display: flex;
    width: 28%;
    height: 138%;
    min-height: 500px;
    max-height: 1000px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: absolute;
    perspective: 60px;
}

.imageBg {
    background-attachment: fixed;
}

.pairContainer {
    font-weight: bold;
    display: flex;
    align-items: center;
}

.imageGallery {
    max-width: 30em;
    width: 100%;
    height: auto;
    padding: 50px;
}

.whiteLink {
    display: inline-flex;
    align-items: center;
    color: #3c9ae7;
}

.buttonLink {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

@media all and (min-width: 1100px) {
    .paragraph {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media all and (max-width: 1099px) {
    .hideOnMobile {
        display: none;
    }

    .mobileOnlyHeader {
        display: block;
        padding-bottom: 1rem;
    }

    .paragraph {
        max-width: none;
        margin-left: 0;
        margin-right: 0;
        justify-content: center;
        text-align: left;
    }

    .content {
        font-size: 1.0rem;
    }

    .whiteSeparator {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 2.4rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    h3 {
        font-size: 1.1rem;
    }
    h4 {
        font-size: 1.0rem;
    }
    h5 {
        font-size: 0.9rem;
    }
    h6 {
        font-size: 0.8rem;
    }
}