.headline {
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 1em 0;
    text-align: center;
    text-shadow: #363636 0 0 12px;
    background: linear-gradient(195deg, #000000 0%, #222222 100%);
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}