.headline {
    color: black;
    font-weight: bolder;
    font-size: 3.8rem;
    padding: 1.8em 2vw 0.2em;
    background-color: white;
}

a:hover, a:active, a:visited, a:link {
    text-decoration: none;
}

@media all and (max-width: 800px) {
    .headline {
        font-size: 2.4rem;
    }
}