.bg {
    z-index: -2;
}
.whiteSeparator {
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 1em 0;
    text-align: center;
    text-shadow: #363636 0 0 12px;
}

.bgText {
    height: 100%;
    background-color: #111111;
    z-index: -1;
    position: absolute;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgba(26, 26, 26, 0.81);
    text-align: justify;
    margin-top: -8px;
    line-height: 1.2rem;
}