.navbar {
    display: flex;
    height: 100%;
    background: linear-gradient(225deg, #000000 0%, #222222 100%);
    position: fixed;
    overflow-x: hidden;
    z-index: 1;
    box-shadow: 2px 0px 3px linear-gradient(225deg, #000000 0%, #222222 100%);
    flex-direction: column;    
}


@media all and (min-width: 1100px) {
    .navbar {
        min-height: 100vh;
        width: var(--sideBarWidth);
    }

    .verticalSpacer {
        height: 100%;
    }
}

.wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: 20px 10px;
}

.bg {
    color: white;
    text-align: left;
    padding: 10px 20px;
    font-size: 1rem;
}

.name {
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 0px 0px 3px #262626;
}

.info {
    color: lightgray;
    margin-bottom: 10px;
}

.link {
    text-decoration: none;
    color: lightgray;
    display: inline-flex;
    align-items: center;
}

.blackText {
    color: black;
    display: inline-block;
    border-radius: 8px;
}

.pfp {
    width: 100px;
    height: auto;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.jumpToWrapper {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 0.8em;
}

.cvDownload {
    margin: 10px 20px 20px 20px;
}

/* Switch the sidebar to be a top bar when the screen size is small */
@media all and (max-width: 1099px) {
    .navbar {
        min-width: calc(100vw - var(--scrollBarWidth));
        height: var(--sideBarHeight);
        position: relative;
    }

    .wrapper {
        justify-content: center;
    }

    .cvDownload {
        justify-content: center;
        display: flex;
    }

    .verticalSpacer {
        height: 0%;
    }

    .bg {
        font-size: 1.0rem;
    }

    .name {
        font-size: 1.2rem;
    }
}
