@import "../../ColorPalette.scss";

$base-animation-delay-offset: 0.4s;
$text-shine-in: text-shine-in 2s linear forwards;

@font-face {
  font-family: "EvaMatisseClassic";
  src: url("../../fonts/evaMatisseClassic.woff2") format("woff2");
}

.screen {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  background-color: $ab-color-sidenav-bg;
  overflow-x: hidden;
  transition: $base-animation-delay-offset;
  animation: fade-to-transparent 3s linear forwards;
  animation-delay: $base-animation-delay-offset;
  letter-spacing: -0.3vmin;

  h1 {
    font-family: "EvaMatisseClassic";
  }

  h2 {
    font-family: "Arial", sans-serif;
  }
}

.textWrapper {
  display: flex;
  width: 70%;
  height: 80%;
  flex-direction: column;
  justify-content: space-between;
  color: $ab-color-text-primary-dark-bg;
  font-size: 6vmin;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.headerText {
  animation-delay: 0.1s;
  margin: 0;
  line-height: 0.9em;
  animation: $text-shine-in;
  animation-delay: $base-animation-delay-offset;
  opacity: 0;
}

.headerSmall {
  font-size: 6vmin;
}

.headerLarge {
  font-size: 16vmin;
}

.subheader {
  animation-delay: 0.15s;
  font-size: 4vmin;
  animation: $text-shine-in;
  animation-delay: $base-animation-delay-offset;
  opacity: 0;
}

.title {
  animation-delay: 0.15s;
  font-size: 6vmin;
  animation: $text-shine-in;
  animation-delay: $base-animation-delay-offset;
  opacity: 0;
}

.starContainer {
  div:nth-child(1) {
    transform: translate(26vmin, 8vmin);
    svg {
      animation-delay: calc($base-animation-delay-offset + 0.01s);
      --ab-scale-factor: 2;
    }
  }
  div:nth-child(2) {
    transform: translate(0.1vmin, 0.1vmin);
    svg {
      animation-delay: calc($base-animation-delay-offset + 0.12s);
      --ab-scale-factor: 0.3;
    }
  }
  div:nth-child(3) {
    transform: translate(-10vmin, -40vmin);
    svg {
      animation-delay: calc($base-animation-delay-offset + 0.24s);
      --ab-scale-factor: 0.8;
    }
  }
  div:nth-child(4) {
    transform: translate(10vmin, -10vmin);
    svg {
      animation-delay: calc($base-animation-delay-offset + 0.32s);
      --ab-scale-factor: 0.4;
    }
  }
  div:nth-child(5) {
    transform: translate(-16vmin, -2vmin);
    svg {
      animation-delay: calc($base-animation-delay-offset + 0.38s);
      --ab-scale-factor: 0.1;
    }
  }

  div:nth-child(6) {
    transform: translate(16vmin, -23vmin);
    svg {
      animation-delay: calc($base-animation-delay-offset + 0.48s);
      --ab-scale-factor: 0.3;
    }
  }
}

.starContainerRight {
  div:nth-child(1) {
    transform: translate(-60vmin, -28vmin);
    svg {
      animation-delay: calc($base-animation-delay-offset + 0.1s);
      --ab-scale-factor: 0.3;
    }
  }
  div:nth-child(2) {
    transform: translate(-10vmin, -15vmin);
    svg {
      animation-delay: calc($base-animation-delay-offset + 0.18s);
      --ab-scale-factor: 0.2;
    }
  }
  div:nth-child(3) {
    transform: translate(-10vmin, -40vmin);
    svg {
      animation-delay: calc($base-animation-delay-offset + 0.26s);
      --ab-scale-factor: 0.9;
    }
  }
  div:nth-child(4) {
    transform: translate(-45vmin, -29vmin);
    svg {
      animation-delay: calc($base-animation-delay-offset + 0.44s);
      --ab-scale-factor: 0.2;
    }
  }
}

@keyframes text-shine-in {
  0% {
    text-shadow: 0px 0px 24px $ab-color-text-primary-dark-bg;
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  25% {
    text-shadow: 0px 0px 24px $ab-color-text-primary-dark-bg;
    opacity: 1;
  }
  30% {
    text-shadow: 0px 0px 4px $ab-color-text-primary-dark-bg;
  }
  80% {
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 4px $ab-color-text-primary-dark-bg;
  }
}

@keyframes fade-to-transparent {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
