.screen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed; /* Stay in place */
    z-index: 9999999; /* Sit on top */
    left: 0;
    top: 0;
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s;
    animation: fade-to-transparent-black 2s linear forwards;
    color: black;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    animation: slideInOut 1.8s;
    animation-delay: 0.1s;
    color: black;
    opacity: 0;
}

.subheader {
    animation: slideInOut 1.8s;
    animation-delay: 0.15s;
    color: #3c9ae7;
    opacity: 0;
}

@keyframes slideInOut {
    0% {
        opacity: 0;
		transform: translateX(10px);
    }

    15% {
        opacity: 100%;
		transform: translateX(0px);
    }

    65% {
        opacity: 100%;
		transform: translateX(0px);
    }

    75% {
        transform: translateX(-10px);
        opacity: 0;
    }

    100% {
        transform: translateX(-10px);
        display: none;
    }
}

@keyframes fade-to-transparent-black {
    0% {
        background: white;
    }
    80% {
        background: white;
    }
    100% {
        background: transparent;
    }
}

@keyframes fade-to-transparent-lightgray {
    0% {
        background: lightgray;
    }
    80% {
        background: lightgray;
    }
    100% {
        background: transparent;
    }
}
