@import "../../ColorPalette.scss";

.screen {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  background-color: $ab-color-body-bg;
  overflow-x: hidden;
  transition: 0.5s;
  animation: fade-to-transparent 2s linear forwards;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  animation: slide-in-out 1.8s forwards;
  animation-delay: 0.1s;
  color: $ab-color-text-primary-light-bg;
  opacity: 0;
}

.subheader {
  animation: slide-in-out 1.8s forwards;
  animation-delay: 0.15s;
  color: $ab-color-link-button-primary;
  opacity: 0;
}

@keyframes slide-in-out {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }

  15% {
    opacity: 1;
    transform: translateX(0px);
  }

  65% {
    opacity: 1;
    transform: translateX(0px);
  }

  75% {
    transform: translateX(-10px);
    opacity: 0;
  }

  100% {
    transform: translateX(-10px);
    display: none;
  }
}

@keyframes fade-to-transparent {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
