.contentMenu {
    padding: 20px;
}

@media all and (min-width: 1100px) {
    .contentMenu {
        display: block;
    }
}

@media all and (max-width: 1099px) {
    .contentMenu {
        display: none;
    }
}