.wrapper {
    width: 300px;
    padding-right: 0.6rem;
    padding-bottom: 0.4rem;
}

.roundedBox {
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.5px);
    -webkit-backdrop-filter: blur(14.5px);
}

.title {
    font-size: 1.1rem;
    font-weight: bold;
}

.subTitle {
    font-size: 0.8rem;
    color: gray;
    padding-bottom: 55px;
}

.location {
    font-size: 1.1rem;
    font-weight: bold;

    text-align: end;
}


@media all and (max-width: 800px) {
    .wrapper {
        width: 240px;
    }
    
    .roundedBox {
        padding: 0.6rem;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }
    
    .title {
        font-size: 0.9rem;
    }
    
    .subTitle {
        font-size: 0.7rem;
    }
    
    .location {
        font-size: 0.9rem;
    }
}