body {
  --sideBarWidth: 360px;
  --sideBarHeight: 275px;
  --scrollBarWidth: 10px;

  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 1em;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: var(--scrollBarWidth);
  border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: #323232;
  border-radius: 1ex;
}
