html.tetrus {
  --ab-color-primary: #de902b;
  --ab-color-primary-hue-shifted: #c95824;
  --ab-color-body-bg: #5a3549;
  --ab-color-sidenav-bg: #3a1929;
  --ab-color-text-primary-light-bg: #ffffff;
  --ab-color-text-secondary-light-bg: #dec2d4;
  --ab-color-text-primary-dark-bg: #ebebeb;
  --ab-color-text-secondary-dark-bg: #e9caba;
  --ab-color-elevation-box-shadow: #12121240;
}

html.pokebuilder {
  --ab-color-primary: #7162ff;
  --ab-color-primary-hue-shifted: #9b4eff;
  --ab-color-link-button-primary: #f9a79f;
  // --ab-color-body-bg: #436b70;
  // --ab-color-sidenav-bg: #1b2f3b;
  --ab-color-body-bg: #6d3535;
  --ab-color-sidenav-bg: #451d1a;
  --ab-color-text-primary-light-bg: #f7f2f2;
  --ab-color-text-secondary-light-bg: #e0cece;
  --ab-color-text-primary-dark-bg: #ebebeb;
  --ab-color-text-secondary-dark-bg: #e9caba;
  --ab-color-elevation-box-shadow: #12121240;
}

html.income-ticker {
  // --ab-color-primary: #dc9f42;
  // --ab-color-primary-hue-shifted: #c17f41;
  --ab-color-body-bg: #353535;
  --ab-color-sidenav-bg: #202020;
  --ab-color-text-primary-light-bg: #e8e8e8;
  --ab-color-text-secondary-light-bg: #bdbdbd;
  --ab-color-text-primary-dark-bg: #eae4bc;
  --ab-color-text-secondary-dark-bg: #b7af8c;
  --ab-color-elevation-box-shadow: #1212128b;
}

html.golden-hour-chronicles {
  --ab-color-primary: #dc9f42;
  --ab-color-primary-hue-shifted: #c17f41;
  --ab-color-body-bg: #31261d;
  --ab-color-sidenav-bg: #1d1712;
  --ab-color-text-primary-light-bg: #f8ddc6;
  --ab-color-text-secondary-light-bg: #e0bea3;
  --ab-color-text-primary-dark-bg: #f8ddc6;
  --ab-color-text-secondary-dark-bg: #e0bea3;
  --ab-color-elevation-box-shadow: #121212d1;
}
