body {
  --ab-color-primary: #de902b;
  --ab-color-primary-hue-shifted: #c95824;
  --ab-color-body-bg: #5a3549;
  --ab-color-sidenav-bg: #3a1929;
  --ab-color-text-primary-light-bg: #ffffff;
  --ab-color-text-secondary-light-bg: #dec2d4;
  --ab-color-text-primary-dark-bg: #ebebeb;
  --ab-color-text-secondary-dark-bg: #e9caba;
}

body {
  --ab-color-primary: #341eff;
  --ab-color-primary-hue-shifted: #702ffc;
  --ab-color-body-bg: #bbecff;
  --ab-color-sidenav-bg: #29485a;
  --ab-color-text-primary-light-bg: #242424;
  --ab-color-text-secondary-light-bg: #3e3e3e;
  --ab-color-text-primary-dark-bg: #ebebeb;
  --ab-color-text-secondary-dark-bg: #e9caba;
}

body {
  --ab-color-primary: #dc9f42;
  --ab-color-primary-hue-shifted: #c17f41;
  --ab-color-body-bg: #31261d;
  --ab-color-sidenav-bg: #1d1712;
  --ab-color-text-primary-light-bg: #f8ddc6;
  --ab-color-text-secondary-light-bg: #e0bea3;
  --ab-color-text-primary-dark-bg: #f8ddc6;
  --ab-color-text-secondary-dark-bg: #e0bea3;
  --ab-color-elevation-box-shadow: #121212d1;
}
