.paragraph {
    max-width: 40em;
    text-align: justify;

    padding: 40px;
    /* From https://css.glass */
    background: linear-gradient(140deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.5px);
    -webkit-backdrop-filter: blur(14.5px);    
}

.text {
    opacity: 70%;
}

.pairContainer {
    display: flex;
    align-items: center;
    padding: 2.5em 1.5em;
    font-size: 1.1rem;
    color: white;
}

.imageGallery {
    width: 50%;
    min-width: 50%;
    height: auto;
    padding: 30px;
}

.whiteLink {
    display: inline-flex;
    align-items: center;
    color: white;
}

@media all and (min-width: 1100px) {
    .pairContainer {
        flex-direction: row;
    }

    .paragraph {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media all and (max-width: 1099px) {
    .pairContainer {
        flex-direction: column;
        font-size: 1.0rem;
    }

    .paragraph {
        margin-left: 0;
        margin-right: 0;
        text-align: left;
    }

    .imageGallery {
        width: 100%;
        max-width: 40em;
    }
}
