.titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subTitle {
    display: flex;
    align-items: center;
    font-size: 1rem;
    text-align: center;
    line-height: 1.2rem;
    padding: 4px 6px;
    margin-left: 12px;
    background: rgb(177, 177, 177);
    color: white;
    border-radius: 4px;
}

.paragraph {
    max-width: 40em;
    text-align: justify;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.description > p {
    color: rgb(106, 106, 106);
}

.pairContainer {
    display: flex;
    align-items: center;
    padding: 2.5em 0;
    font-size: 1.1rem;
    color: black;
}

.imageGallery {
    width: 50%;
    min-width: 50%;
    height: auto;
    padding: 30px;
}

@media all and (min-width: 1100px) {
    .pairContainer {
        flex-direction: row;
    }

    .reverseOrder {
        flex-direction: row-reverse;
    }

    .paragraph {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media all and (max-width: 1099px) {
    .pairContainer {
        flex-direction: column;
        font-size: 1.0rem;
    }

    .reverseOrder {
        /** Use column on mobile for all projects **/
        flex-direction: column;
    }

    .paragraph {
        margin-left: 0;
        margin-right: 0;
        text-align: left;
    }

    .imageGallery {
        width: 100%;
        max-width: 40em;
    }
}
