.wrapper {
    padding-right: 0.6rem;
    padding-bottom: 0.4rem;
}

.roundedBox {
    display: flex;
    align-items: center;
    padding: 0.4rem 0.8rem 0.4rem 0.6rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.5px);
    -webkit-backdrop-filter: blur(14.5px);
}

.icon {
    display: flex;
    align-items: center;
    padding-right: 0.4rem;
}