.button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    width: 180px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 3px #262626;
    box-shadow: 0px 2px 3px #262626;
    transition: 0.2s;
    font-size: 18px;
    padding: 0.5rem;
}

.black {
    background: linear-gradient(225deg, #1d1d1d 0%, #3e3e3e 100%);
}

.black:hover {
    background: linear-gradient(225deg, #343434 0%, #5c5c5c 100%);
}

.white {
    color: black;
    text-shadow: 0px 0px 3px #bababa;
    background: linear-gradient(225deg, #ffffff 0%, #b6b6b6 100%);
}

.white:hover {
    background: linear-gradient(225deg, #cbcbcb 0%, #959595 100%);
}

.gold {
    color: black;
    text-shadow: 0px 0px 3px #bababa;
    background: linear-gradient(225deg, #ffcd4d 0%, #dc9a41 100%);
}

.gold:hover {
    background: linear-gradient(225deg, #ffcd80 0%, #f8b576 100%);
}

.button:active {
    background: #ffdda5;
    transform: scale(0.9, 0.9);
}