@import "../../ColorPalette.scss";

.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 120px;
  width: 180px;
  height: 30px;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0px 2px 3px $ab-color-button-base-box-shadow;
  transition: background-color 0.4s, transform 0.1s;
  font-size: 1.1rem;

  &:active {
    transform: scale(0.9, 0.9);
  }
}

.white {
  color: $ab-color-button-light-text;
  background-color: $ab-color-button-light-bg;

  &:hover {
    background-color: $ab-color-button-light-bg-hover;
  }

  &:active {
    background-color: $ab-color-button-light-bg-active;
  }
}

.animated {
  color: $ab-color-button-primary-text;
  background-color: $ab-color-button-primary-bg;
  background-size: 400% 400%;
  animation: primary-pulse 4s ease infinite;
}

.animated:hover {
  background-color: $ab-color-button-primary-bg-hover;
  animation: none;
}

.animated:active {
  background-color: $ab-color-button-primary-bg-active;
}

@keyframes primary-pulse {
  0%,
  100% {
    filter: hue-rotate(-10deg);
  }
  50% {
    filter: hue-rotate(10deg);
  }
}

@media all and (max-width: 1099px) {
  .button {
    font-size: 1rem;
    padding: 0.4rem;
  }
}
