.button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    width: 180px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 3px #262626;
    box-shadow: 0px 2px 3px #262626;
    transition: 0.2s;
    font-size: 1.1rem;
    padding: 0.5rem;
}

.black {
    background: linear-gradient(225deg, #1d1d1d 0%, #3e3e3e 100%);
}

.black:hover {
    background: linear-gradient(225deg, #343434 0%, #5c5c5c 100%);
}

.white {
    color: black;
    text-shadow: none;
    background: linear-gradient(225deg, #ffffff 0%, #fcfcfc 100%);
    box-shadow: 0px 0px 5px #f8f8f8;
}

.white:hover {
    background: linear-gradient(225deg, #cbcbcb 0%, #959595 100%);
}

.animated {
    color: white;
    text-shadow: 0px 0px 3px #bababa;
    background: linear-gradient(-45deg, #528bee, #3c9ae7, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
}

.animated:hover {
    background: linear-gradient(225deg, #60ccce 0%, #43a3b8 100%);
}

.button:active {
    background: #9afdff;
    transform: scale(0.9, 0.9);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media all and (max-width: 1099px) {
    .button {
        font-size: 1.0rem;
        padding: 0.4rem;
    }
}